@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 2.5rem;
  margin: 0 auto;
  width: 80%;

  .title {
    @media screen and (max-width: vars.$breakpoint-md) {
      font-size: 2.25rem !important;
      line-height: 2.625rem !important;
    }
  }

  .statNumber1 {
    font-size: 5.5rem;
    color: vars.$blue;
  }

  .statNumber2 {
    font-size: 5.5rem;
    color: vars.$red;
  }

  .statNumber3 {
    font-size: 5.5rem;
    color: vars.$yellow;
  }
}
