// Colors
$black: #151625;
$blue: #9ECAFF;
$light-blue: #BFEAFD;
$red: #FF8E72;
$orange: #F9A857;
$yellow: #ECDF98;
$white: #FFFFFF;

// Media Query Standard Breakpoints
$breakpoint-sm: 425px; //
$breakpoint-md: 870px; // Use this breakpoint for most mobile-first CSS designs
$breakpoint-lg: 1024px;