@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  height: 100%;

  .isMobile {
    display: none;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    .isMobile {
      margin: 0 auto;
      display: block;
    }

    .isDesktop {
      display: none;
    }
  }
}
